/* logo2 的样式*/
.text h2{
	font-size: 28px;
	margin-bottom: 23px;
	color: #FDDA38;
	font-weight: bold;
	text-align: center;
	
}

.text h3{
	color: #221815;
	font-size: 18px;
	margin-bottom: 31px;
	
	font-weight: normal; 
	text-align: center;
}
.text .logo2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 23px;
}
 .logo2 .line{
	 width: 52px;
	 height: 2px;
	 background-color: #FDDA38;
	 
 }
 
.text img{
	 width: 20px;
 }
 /* 主题图片内容 */
.content{
	     background: url(../community_img/bg1.png) no-repeat right top, url(../community_img/bg6.png) no-repeat left bottom;
	     background-size: 15%, 15%;
	     margin-top: -100px;
	     z-index: 9;
	     background-position-y: 10%,100%;
			 margin-top: -6px;
	 }
 



 .content  .cont-mid{
	 width: 62.5%;
	 margin: 0 auto;
	 overflow: hidden;
	 list-style: none;
 }
 
 .content  .cont-mid li{
	 margin: 0 30px;
	 margin-bottom: 20px;
	 float: left;
	 border-radius: 8px;
 }
 

.content .cont-pic{
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	border: 3px solid #fdd000;
	margin-bottom: 10px;
	border-radius: 22px;
}
 
 .cont-bg{
	 width: 100%;
	 height: 100%;
	 background-image: url(../community_img/border.png);
	 background-size: 100% 100%;
	 z-index: 9;
	 position: absolute;
	 left: 0;
	 top: 0;
	 
 }
.cont-img{
	width: 330px;
	height: 234px;
	border-radius: 16px;
	display: block;
}
 
 .cont-mid p{
	 font-size: 20px;
	 font-weight: blod;
	 text-align: center;
 }
 
 .page-item.active{
 	color: #fdd000;
 }
 
 /* 响应式 */
 @media (min-width:1200px) and (max-width:1400px){
 	 .content .cont-mid li{
 	 	margin: 0 10px;
 	 	margin-bottom: 13px;
 	 }
 	 .cont-mid p{
 	 		 font-size: 12x;
 	 }
 	.cont-img{
 	 	 width: 224px;
 	 	 height: 159px;
 	 }
 	 .cont-pic{
 	 		 width: 224px;
 	 }
 }
 

 
 @media (min-width:1400px) and (max-width:1600px){
 	 .content .cont-mid li{
 	 	margin: 0 16px;
 	 	margin-bottom: 14px;
 	 }
 	.cont-mid p{
 		 font-size: 14px;
		 font-weight: bold;
 	 }
 	 
 	 .cont-img{
 	 	 width: 257px;
 	 	 height: 182px;
 	 }
 	 
 }
 
/* 分页 */
.page{
	padding: 20px 0;
	font-size: 14px;
	display: flex;
	justify-content: center;
}
.page-prev{
	width: 100px;
	line-height: 44px;
	text-align: center;
	font-size: 18px;
	background-color: #ffd000;
	margin: 0 15px;
	color: #1a1a1a;
}

.page-item{
	color: #1a1a1a;
	padding: 0 15px;
	line-height: 44px;
	font-size: 18px;
}
.page-next{
	width: 100px;
	line-height: 44px;
	text-align: center;
	font-size: 18px;
	background-color: #fdd000;
	margin: 0 15px;
	color: #1a1a1a;
}
