*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.nav{
	background-color:rgba(26, 26, 26, 0.26);
	width: 100%;
	min-width: 1200px;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
} 
.nav .blank25{
	width: 20%;
	height: 90px;
	z-index: 10;
}
.nav .center{
	
	width: 60%;
	list-style: none;
}
.nav div{
	float: left;
	
}
.nav ul{
	list-style: none;
	overflow: hidden;
}
.nav li{
	width: 12%;
	float: left;
	height: 90px;
	line-height: 90px;
	text-align: center;
}
.nav a{
	
	font-size: 16px;
	font-weight: 400;
	color: #fefefe;
}
.nav .first{
	color: #fccf00;
}
.nav img{
	width: 98px;
	height: 66px;
	display: block;
	float: left;
	margin-top: 6px;
}
/* 导航栏结束 */

/* 页尾 */
.bg_line{
	width: 100%;
	min-width: 1200px;
	display: block;
}	
.footer{
	padding: 0 10% 20px;
	background-color: #f3d340;
	/* margin-bottom: 20px; */
	display: flex;
	justify-content: space-between;
	font-size: 12px
}
.footer-left h3{
	/* width: 53% */
	margin-bottom: 7px;
	margin-top: 62px;
	font-size: 12px
}
.f-text li{
	margin-bottom: 3px;
	display: flex;
	
}
.f-text li div:nth-child(1){
	width: 220px;
}
.f-text li div{
	margin-right:15px ;
}
.f-text li img{
	width: 12px;
	margin-right: 15px;
}
/* .f-text li span{
	margin-right: 15px;
} */
/* 右边二维码部分 */

.footer-right{
	width:35%;
	
	margin-top: 60px;
	color: 1a1a1a;
}
.f-pic li{
	
}
.f-pic{
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.f-pic img{
	width: 109px;
}
/* 最后 */
.down{
	font-size: 16px;
	background: #FFFCED;
	line-height: 78px;
}
.down ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-bottom: 0;
}
.down ul li{
	padding: 0 10px;
}
.down ul a{
	color: #1a1a1a;
}
@media (min-width:1200px) and (max-width:1400px) {
	.down{
		font-size: 12px;
		line-height: 53px;
	}
}
@media (min-width:1400px) and (max-width:1600px) {
	.down{
		font-size: 12px;
		line-height: 60px;
	}
}


/* 固定 格式*/

.banner img {
	width:100%;
	 min-width: 1200px; 
}

 .text h2{
	font-size: 28px;
	margin-bottom: 23px;
	color: #FDDA38;
	font-weight: bold;
	text-align: center;
	
}

.text h3{
	color: #221815;
	font-size: 24px;
	margin-bottom: 40px;
	
	font-weight: normal; 
	text-align: center;
}
.text .logo2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	
}
.logo2 .line{
	width: 67px;
	height: 2px;
	background-color: #fdda38;

}
.text .logo2 img{
	width: 21px;
	margin: 0 22px;
}
.text1{
	
	font-size: 14px;
	text-indent: 28px;
	line-height: 23px;
	margin-bottom: 7px;
	color:1a1a1a;
	
}
@media  (min-width:1200px) and (max-width:1400px) {
	.server-bottom h2{
		font-size:24px;
		margin-bottom:20px;
	}
	.text .logo2{
		margin-bottom: 16px;
	}
	.logo2 .line{
		width: 45px;
	} 
	.text .logo2 img{
		width: 14px;
	  margin: 0 15px;
	}
	.text h3{
		font-size: 18px;
		margin-bottom: 27px;
	}
	
}

@media  (min-width:1400px) and (max-width:1600px) {
	.server-bottom h2{
		font-size:28px;
		margin-bottom:23px;
	}
	.text .logo2{
		margin-bottom: 23px;
	}
	.logo2 .line{
		width: 52px;
	} 
	.text .logo2 img{
		width: 16px;    margin: 0 17px;
	}
	.text h3{
		font-size: 18px;
		margin-bottom: 31px;
	}
}
