*{
	margin: 0;
	padding: 0;
}
.nav{
	background-color:rgba(26, 26, 26, 0.26);
	width: 100%;
	min-width: 1200px;
	height: 90px;
} 
.nav .blank25{
	width: 20%;
	height: 90px;
	
}
.nav .center{
	
	width: 60%;
	list-style: none;
}
.nav div{
	float: left;
	
}
.nav ul{
	list-style: none;
	overflow: hidden;
}
.nav li{
	width: 12%;
	float: left;
	height: 90px;
	line-height: 90px;
	text-align: center;
}
.nav a{
	
	font-size: 16px;
	font-weight: 400;
	color: #fefefe;
}
.nav .first{
	color: #fccf00;
}
.nav img{
	width: 98px;
	height: 66px;
	display: block;
	float: left;
	margin-top: 6px;
}
