
.banner img {
	width:100%;
	 min-width: 600px; 
}
.server{
	background-image: url(http://www.huashengchongwu.com/static/img/bg1.png);
	background-size: 13%;
	background-position-x: 100%;
	background-position-y: 100%;
	background-repeat: no-repeat;
}
.title {
	font-size: 24px;
	color: #FDDA38;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	
}
.logo2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.logo2 .line{
	width: 67px;
	height: 2px;
	background-color: #fdda38;

}
.logo2 img{
	width: 21px;
	margin: 0 22px;
}
.english-title {
	fon-size: 24px;
	color: #221815;
	font-weight: 400;
	text-align: center;
	marign-bottom: 40px;
}
.commont-text {
	flex: 1;
	font-size: 22px;
	color: #333333;
	line-height: 48px;
	text-indent: 44px;
	text-align: justify;
	marign-bttom: 40px;
}
.common-detail {
	display: flex;
	min-width: 1200px;
}
.blank25 {
	width: 25%;
}
.servser-content{
	padding: 0 18%;
	margin-bottom: 73px;
	border: 1px solid red;
}
.server-content ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.server-content ul li{
	width: 156px;
	height: 156px;
	background: #f6f6f6;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

